.calendar {
    width:100%;
    font: 1em arial;
    text-align: center;
    border-spacing: 0;
    border-collapse: collapse;
  }
  .calendar .calleft { float:left; }
  .calendar .calright { float:right; }
  .calendar table,
  .calendar th,
  .calendar td {
    border: 1px solid mediumslateblue;
  }
  .caltitle {
    background-color:lightgrey;
  }
  .cell {
    min-width: 2.2em;
    width: 14%;
  }
  .today {
    /* color: white;
     background-color: blueviolet; */
    color: magenta;
    font-weight: bold;
  }
  .today:before {
    font: 1.2em arial;
  }
  .today:after {
    font: 1.2em arial;
  }
  .events {
    background-color: yellow;
  }